{% extends 'base.html' %}
{% block content %}
{% load i18n %}


<h1>{{ property.title }}</h1>
<p>{{ property.price }}<i class="bi bi-currency-euro"></i></p>
<div>
  {{ property.description }}
</div>

<div id="myModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img id="modalImage" class="modal-content">
</div>


<div class="d-flex flex-wrap" style="margin: -5px;">
  {% for pic in property.pictures.all %}
    <div class="image-container col-md-2 col-4" style="margin: 5px;">
      <img src="{{ pic.image.url }}" style="cursor: pointer;" class="img-fluid rounded-img custom-img" alt="" onclick="openImageWindow(this.src)">
    </div>
  {% endfor %}
</div>



{% endblock content %}

