{% extends 'base.html' %}
{% block content %}
<section id="services" class="services section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Our Services</h2>
                    <p>"Welcome to DEDDA Immobilien, where our dedication to best quality, comfort, and integrity sets us apart. Discover the exceptional services we offer to make your real estate journey truly remarkable."</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-dark pb-2">
                    <div class="card-body">
                        <i class="bi bi-subtract"></i>
                        <h3 class="card-title">Best Quality</h3>
                        <p class="lead"> At our core, we are dedicated to delivering the best quality service.
                            From meticulously selected property listings to a team of experts committed to your satisfaction,
                            we ensure that your experience with us is of the highest caliber.
                            Our aim is to provide you with nothing less than the best when it comes to your real estate needs.</p>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-dark pb-2">
                    <div class="card-body">
                       <i class="bi bi-slack"></i>
                        <h3 class="card-title">Comfort</h3>
                        <p class="lead">We understand the importance of comfort in your property.
                            Your home should be a place of relaxation and tranquility.
                            That's why we prioritize the comfort of your living spaces.
                            Our properties are designed and managed to ensure that you and your family feel truly at home.
                            We focus on the little details that make a big difference in creating spaces that are not just houses, but havens.</p>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-dark pb-2">
                    <div class="card-body">
                        <i class="bi bi-playstation"></i>
                        <h3 class="card-title">Integrity</h3>
                        <p class="lead"> Integrity is the foundation of our business.
                            We uphold the highest ethical standards and transparency in all our dealings.
                            You can trust that our team operates with unwavering honesty and a deep sense of responsibility to ensure that your experience is successful.
                            Your trust is our most valued asset, and we safeguard it with the utmost care.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}