*{
    font-family: montserrat;
}

:root{
    --h1-font: 5rem;
    --h2-font: 2.9rem;
    --p-font: 1.1rem;

    --bg-color: #6CDAEE;
    --text-color: #ffffff;
    --main-color: #1aa090;
    --other-color: #d6d6d6;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.section{
    padding: 100px 15% 70px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4.5rem;
}
.home-text h1{
    font-size: var(--h1-font);
    line-height: 1.2;
    margin-bottom: 20px;
}

.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}
.navbar-light .navbar-nav .navbar-link{
    color: #000;
}
.w-100{
    height: 100vh;
}


/* cards */
.card {
     width: 360px;
     height: 450px;
     margin-top: 20px;
     transition: transform 0.2s;
    }
.card-img-top{
     width: 100%;
     height: 250px;
     }


.card-text {
    font-size: 14px; /* Adjust the font size as needed */
}


.card:hover {
    transform: scale(1.1);
}


.bg-footer{
    background-color: #000;
    padding: 50px 0 30px;
}
.text-light a {
    color: white; /* Change to the desired lighter color code or color name */
    text-decoration: none; /* Remove underline if needed */
  }
.container-fluid {
    padding: 0;
}



